
 * {
font-family: Arial;
}

 html,body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(222, 243, 59, 0.87);
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    background-color: rgb(36, 33, 33);
    height: 60px;
    color: aliceblue;
    padding-top: 10px;
    gap: 20px;
}
.logo img{
  margin-top: -13px;
    width: 120px;
    height: 100px;
    position: relative;
    top: -7px;
} 

 .items {
    display: flex;
    list-style: none;
    gap: 95px;
  } 
  .items li{
 margin-top: -7px;
 font-family: serif;
 font-size: 18px;
 padding: 6px;
 align-items: center;
 background-color: orange;
 border-radius: 0 15px;
 color: black;

 }
 .items li:hover{
  color: rgb(255, 232, 127);
  background-color: orange;
  border-radius: 0 15px;
  color: black;
  box-shadow:  3px 3px 15PX rgba(255, 166, 0, 0.877);
 }
 .items li:active{
    transition: transform 0.1s, box-shadow 0.1s;
  transform: scale(1.1);
  box-shadow: 3PX 3px 15PX #cc7a00;
 }
 a{
    text-decoration: none;
    color: white;
 }
 .search{
  display: flex;
  align-items: center; 
  margin-left: 30px;
}


.select {
  width: 45px;
  height: 40px;
  border-radius: 0 0 0 15px;
  transform: translatey(-4px);
 margin-right: -30px;
  border: none;
  outline: none;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  font-size: 17px;
}

.select:hover{
  border: 2px solid white;
  border-color: orange;
  border-right-color: white;

}

.search input {
  position: relative;
  transform: translatey(-4px);
  flex: 1;                 
  width: 480px;
  height: 40px;
  padding: 0 10px;         
  font-size: 15px;
  background-color: #f8f7f7;
  right: -30px;
  border: 1px solid white;
  outline: none;
}
.search-input:hover{
  border: 2px solid #f8f7f7;
  border-color:orange;
  border-left-color: white;
  border-right-color: white;
}
.button {
  transform: translatey(-4px);
  height: 40px;
  width: 45px;
  border-radius: 0 15px 0px 0;
  background-color: orange;
  border: 2px solid orange;
  margin-left: 30px;
  font-size: 24px;
  padding: 2px 0 0 2px;
}
.button:hover{
  border-right-color: unset;
 border-color: orange ;
}


 .login-button{
      display: inline-block;     
  width: 70px;               
  height: 33px;             
  line-height: 31px;          
  text-align: center;
margin-top: 9px;
  margin-left: 230px;
  background-color: orange;
  color: black;
  border-radius: 0 15px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;

  }
  .login-button:hover{
    color: rgb(255, 232, 127);
  background-color: orange;
  border-radius: 0 10px;
  color: black;
  box-shadow:  3px 3px 15PX rgba(255, 166, 0, 0.877);
  border-radius: 0 15px;
  }
  .login-button:active{
   transition: transform 0.1s, box-shadow 0.1s;
  transform: scale(1.1);
  box-shadow: 3PX 3px 15PX #cc7a00;
  }
  .mobile{
    background-color: rgb(134, 160, 172);
    height:24px;
    visibility: hidden;
  }
  /* navbar start */
   .navbar-img{
    display: flex;
    width: 100vw;
    height: 70vh;
    background-size: contain;
 } 
   .cart{
    position: relative;
    left: 250px;
    bottom: 48px;
    background-color: rgba(255, 166, 0, 0.705);
    border: none;
    padding: 3px;
  }
  .cart:hover{
     transition: transform 0.1s, box-shadow 0.3s;
     background-color: orange;
    
  }
  .cart:active{
    transform: scale(1.1);
  } 
  .products{
   display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    margin: 10px auto;
}
.products-1:hover{
  transition: transform 1s;
  transform: scale(1.1);
}

.products-1 img{
    width: 310px;
    height: 410px;
    padding: 0px 20px 0px 20px;
    margin-top: -5px;
   }
.pro{
  margin-top: -300px;
}


.products-1{
    background-color: #fff;
    border: 1px solid black;
    width: 350PX;
    height: 500px;
    border: none;
    border-radius: 0 50px 0 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.products-1 p{
    position:relative;
    top: -12px;
    margin-left: 24px;
    color: rgb(20, 134, 96);
}
.products-1 h2{
    margin-left: 22px;
    margin-top: 12px;
}
 .about-main {
  padding: 40px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
.abb{
  display: flex;
  margin-bottom: 30px;
}
.about-photo{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-size: cover;
  margin-left: 100px;
 
}
.about-hero {
  text-align: center;
  position: relative;
  margin-left: 150px;
  top: 50px;
}

.about-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about-hero p {
  font-size: 18px;
  color: #555;
}

.about-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about-box {
  background: #fff;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  border-radius:0 40px;
  box-shadow:  5px 10px rgba(0,0,0,0.1);
}
.about-box:hover{
  transition: transform 0.5s;
  transform: scale(1.1);
}
.about-box h2 {
  margin-bottom: 10px;
  color: #232f3e; 
}

.about-box p {
  color: #444;
} 
  
/* contact us */
.heading {
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: 40px;
}


.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 470px;
  margin: 0 auto;  
  border-radius: 50px; 
  padding: 35px 27px 0px 55px;
  background-color: white;
  margin-bottom:20px ;
  padding-bottom: -60px;
  /* background-image: url(./images/from.jpg); */
  background-size: cover;
  box-shadow: 2px 4px 15px orange;
}


.form input {
  height: 45px;
  width: 300px;
  padding:15px;
 margin-bottom: 20px;
  font-size: 15px;
  border-radius:35px;
  background-color: rgb(255, 255, 255);
  color: rgb(18, 17, 17);
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-shadow: 5px 4px 15px;
}
.form input:hover{
   transition: transform 0.1s, box-shadow 0.1s;
   transform: scale(1.1);
   box-shadow: 6px 6px 15px rgb(219, 215, 215);
 }


.form-button {
 
 width: 90px;
 height: 45px;
  background-color:rgba(255, 166, 0, 0.863);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 127px;
  border-radius:20px;
  position: relative;
  top: -10px;
  box-shadow: 5px 4px 15px orange ;
}
.form-button:hover{
   transition: transform 0.1s, box-shadow 0.1s;
   transform: scale(1.1);
 }
.form-button:active{
   transform: translateY(3px);
  box-shadow: 0 4px 0 #2b3a4d;
}
/* contact end */

  @media (min-width: 320px) and (max-width:650px) {
   .navbar{
    /* display: flex; */
    background-color: rgb(36, 33, 33);
    height: 40px;
    color: aliceblue;
    padding-top: 1px;
    width: 100vw;
   }
   .logo img{
    width: 62px;
    height: 58px;
    position: relative;
    top: 5px;
}
.items {
    display: flex;
    list-style: none;
    gap: 18px;
    position: relative;
    right: 33px;
    bottom: 7px;
  } 
  .items li{
    margin: unset;
  background-color: orange;
  color: black;
  align-items: center;
  width: 46px;
  height: 15px;
  text-align: center;
 font-size: 10px;
 padding: 3px;
 position: relative;
 right: 3px;
 border-radius: 0 6px;
 border: 0.01em solid rgba(219, 145, 7, 0.74);
 
 }
 .items li:hover{
  transition: transform 1s;
  transform: scale(1.1);
  border-radius: 0 6px;
  padding: 3px;
  color: rgb(231, 229, 229);
  box-shadow:  1px 1px 7PX rgba(255, 166, 0, 10);
  background-color:  rgba(255, 166, 0, 0.815);
 }
 .items li:active{
    transition: transform 0.1s, box-shadow 0.1s;
  transform: scale(1.1);
  box-shadow: 1px 1px 10 #cc7a00;
 }
 a{
    text-decoration: none;
    color: white;
 }
 
.search{
 position: relative;
  /* right: 134px; */
  width: 100vw;
  top: 3px;
}

.select {
  width:24px;
  height: 26px;
  border: 1px solid black;
  border-right: none;
  outline: none;
  font-size: 9px;
 position: relative;
 top: 35px;
 right: 364px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  position: relative;
  border-radius: 0px;
}
.select option{
  font-size: 7px;
  width: 500px;
}
.select:hover{
  border: 0.5px solid white;
  border-color: orange;
  border-right-color: white;

}

.search input {
  position: relative;
  transform: translatey(-4px);
  flex: 1;                 
  /* width: 89vw; */
  height: 26px;
  padding: 0 10px;         
  font-size: 9px;
  background-color: #f8f7f7;
  right: 340px;
  border: 1px solid black;
  border-left:none;
  border-right: none;
  outline: none;
  top: 35px;
}
.search-input:hover{
  border: 0.1px solid #f8f7f7;
  border-color:orange;
  border-left-color: white;
  border-right-color: white;
}
.button {
  transform: translatey(-4px);
  height: 26px;
  width: 25px;
  background-color: orange;
  border: 1px solid black;
  border-left: none;
  font-size: 12px;
  position: relative;
  right: 370px;
  top: 35px;
   border-radius: 0px;
  padding: 1px 0 0 1px;
}
.button:hover{
  border-color: orange;
}

 .login-button{
      display: inline-block;  
  width: 39px;               
  height: 23px;              
  line-height: 19px;          
  background-color: orange;
  color: black;
  border-radius: 0 6px;
  font-size: 9.7px;
  text-decoration: none;
  cursor: pointer;
   position: relative;
   top:0.5px;
   right: 672px;
  }
  .login-button:hover{
    transition: transform 1s;
  transform: scale(1.1);
  border-radius: 0 6px;
  color: rgb(231, 229, 229);
  box-shadow:  1px 1px 7PX rgba(255, 166, 0, 10);
  background-color:  rgba(255, 166, 0, 0.815);
}
.login-button:active{
  transition: transform 0.1s, box-shadow 0.1s;
  transform: scale(1.1);
  box-shadow: 0 1px 0 #cc7a00;
  }
  
  .mobile{
    height:20px;
    visibility: hidden;
  }
  
 .navbar-img{
    width: 100vw;
    height: 20vh;
    background-image: url(navbar.jpg);
    background-size: contain;
    border: rgb(229, 255, 0) 1px solid;
 }

 .products{
   justify-content: space-evenly;

}
.products-1:hover{
  transition: transform 1s;
  transform: scale(1.1);
}

.products-1 img{
    width: 105px;
    height: 150px;
    padding: 0px 13px 0px 13px;
    margin-top: -5px;
   }

.pro{
  margin-top: 0;
 
}

.products-1{
    background-color: #fff;
    border-radius: 0 25%;
    width: 130PX;
    height: 190px;
    border: none;
    border-radius: 0 5px 0 5px;
    margin-bottom: 15px;
    margin-left: 5px;
    position: relative;
    top: -54px;

}
.products-1 p{
    position:relative;
    top: -4px;
    margin-left: 13px;
    color: rgb(20, 134, 96);
    font-size: 6px;
}
.products-1 h2{
    margin-left: 13px;
    margin-top: 4px;
    font-size: 11px;
} 
 .cart{
    position: relative;
    left: 85px;
    bottom: 24px;
    background-color: rgba(255, 166, 0, 0.705);
    border: none;
    padding: 2px;
    font-size: 6px;
    border-radius: 0px;
  }
  
  .cart:active{
      transition: transform 0.1s, box-shadow 0.3s;
    background-color: orange;
    transform: scale(1.1);
  }
  /* ABOUT US START */


  .about-main {
  padding: 30px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
.abb{
  display: flex;
  margin-bottom: 20px;
}
.about-photo{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 15px;
 margin-top: 30PX;
}
.about-hero {
  text-align: center;
  position: relative;
  margin-left: 30px;
  top: 27px;

}

.about-hero h1 {
  font-size: 16px;
  font-size: 14PX;
}

.about-hero p {
  font-size: 10px;
  color: #555;
}

.about-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about-box {
  background: #fff;
  padding: 10px;
  flex: 1;
  min-width: 250px;
  border-radius:0 40px;
  box-shadow:  5px 10px rgba(0,0,0,0.1);
  margin-top: 10px;
  margin-bottom: 20px;
}
.about-box:hover{
  transition: transform 0.5s;
  transform: scale(1.1);
}
.about-box h2 {
  margin-bottom: 10px;
  color: #232f3e; 
  font-size: 15PX;
}

.about-box p {
  color: #444;
  font-size: 12PX;
}
/* ABOUT US END */

/* contact us start */
.heading {
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}


.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 340px;
  margin: 0 auto;   
  padding: 25px 10px 10px 42px;
  background-color: white;
  margin-bottom:20px ;
  padding-bottom: -60px;
  /* background-image: url(./images/from.jpg); */
  background-size: cover;
  border-radius: 15%;
  box-shadow: 2px 4px 15px orange;
  
}


.form input {
  height: 12px;
  width: 200px;
 margin-bottom: 20px;
  font-size: 10px;
  padding-left: 5px;
  border-radius:15px;
  background-color: white;
  color: rgb(18, 17, 17);
  border: 1px solid rgba(0, 0, 0, 0.199);
  box-shadow: 5px 4px 15px;
}
.form input:hover{
   transition: transform 0.1s, box-shadow 0.1s;
   transform: scale(1.1);
   box-shadow: 6px 6px 15px rgb(219, 215, 215);
 }


.form-button{
 
 width: 70px;
 height: 34px;
  background-color:rgba(255, 166, 0, 0.863);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 77px;
  border-radius:15px;
  position: relative;
  top: -5px;
  box-shadow: 5px 4px 15px orange;
  font-size: 11px;
}
.form-button:hover{
   transition: transform 0.1s, box-shadow 0.1s;
   transform: scale(1.1);
 }
.form-button:active{
   transform: translateY(3px);
  box-shadow: 0 4px 0 #2b3a4d;
}
}


/* footer - NEW STYLE */
.footer {
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  color: #ffffff;
  padding: 20px 0;
  margin-top: 50px;
  border-top: 3px solid orange;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  gap: 30px;
}

.footer-section h3 {
  color: orange;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease, padding-left 0.3s ease;
  display: inline-block;
}

.footer-section a:hover {
  color: orange;
  padding-left: 5px;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #ff8c00;
  transform: scale(1.2);
  padding: 0;
}

.footer-email {
  width: 100%;
  padding: 10px;
  border-top: 1px solid orange;
  border-radius: 5px 5px 0px 0px;
  background-color: #f0f0f0;
  color: #333;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
  height: 25px;

}
.footer-email:hover{
  transition: transform 3s ease;
  transform: scale(1.1);
}
.footer-email::placeholder {
  color: #635f5f;
}

.footer-btn {
  width: 108%;
  padding: 10px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 0 5px 0px 0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: -35px;
  margin-left: 2px;
}

.footer-btn:hover {
  background-color: #ff8c00;
}
.footer-btn:active{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footer-bottom {
  background-color: #0a0a0a;
  text-align: center;
  padding: 20px;
  color: #999;
  font-size: 14px;
  border-top: 1px solid #444;
  position: relative;
  top: 40px;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
  
  .footer-section h3 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer-content {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }
  .footer-email{
    width: 92%;
  }
  .footer-btn{
    width: 98.6%;
  }
  .footer h3{
    font-size: 13px;
  }
  .footer li{
    font-size:11px ;
  }
  .footer-section ul {
  margin-bottom: -35px;
}


}









